vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 Aug 2011 02:31:50 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|RALCANTA2\\Richpolis
vti_modifiedby:SR|RALCANTA2\\Richpolis
vti_timecreated:TR|23 Aug 2011 02:31:50 -0000
vti_cacheddtm:TX|23 Aug 2011 02:31:50 -0000
vti_filesize:IR|2304
vti_cachedlinkinfo:VX|S|img/items.gif S|../../img/shockwave.gif S|../../img/flash.gif S|../../img/quicktime.gif S|../../img/windowsmedia.gif S|../../img/realmedia.gif S|../../img/video.gif S|../../img/iframe.gif S|../../img/pagebreak.gif
vti_cachedsvcrellinks:VX|FSUS|js/tiny_mce/themes/advanced/skins/default/img/items.gif FSUS|js/tiny_mce/themes/advanced/img/shockwave.gif FSUS|js/tiny_mce/themes/advanced/img/flash.gif FSUS|js/tiny_mce/themes/advanced/img/quicktime.gif FSUS|js/tiny_mce/themes/advanced/img/windowsmedia.gif FSUS|js/tiny_mce/themes/advanced/img/realmedia.gif FSUS|js/tiny_mce/themes/advanced/img/video.gif FSUS|js/tiny_mce/themes/advanced/img/iframe.gif FSUS|js/tiny_mce/themes/advanced/img/pagebreak.gif
vti_backlinkinfo:VX|
